{% load static %}
<!-- FOOTER SECTION -->
<footer class="footer-section mt-auto">
    <div class="foot container d-flex justify-content-around">
      <div class="container">
        <h4>Spacefinder</h4>
      </div>
      <div class="foot container d-flex justify-content-evenly">
        <div class="container">
            <ul class="list-unstyled">
                <li class="py-2"><a class="text-decoration-none text-black" href="{% url 'home' %}">Home</a></li>
                <li class="py-2"><a class="text-decoration-none text-black" href="{% url 'hostel' %}">Hostels</a></li>
                <li class="py-2"><a class="text-decoration-none text-black" href="{% url 'about' %}">About Us</a></li>
                <li class="py-2"><a class="text-decoration-none text-black" href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
        <div class="container">
            <h5 class="py-2">Join our newsletter</h5>
            <form method="post" action="{% url 'newsletter_subscription' %}">
              {% csrf_token %}
              {{form.as_p}}
                <input type="email" name="email" class="form-control py-2" placeholder="Your email address" required>
                <button type="submit" class="btn border border-black my-4 ms-5 sign ">Sign me up</button>
            </form>
        </div>
      </div>
    </div>
    <hr class="container">
    <div class="foot container d-flex justify-content-between">
       
        <div>© 2023 Spacefinder. All rights reserved</div>
        <div>
            <a class="icon-link mx-2" href="#"><img src="{% static "/images/square-facebook.svg" %}"></a>
            <a class="icon-link mx-2" href="#"><img src="{% static "/images/square-instagram.svg" %}"></a>
            <a class="icon-link mx-2" href="#"><img src="{% static "/images/twitter.svg" %}"></a>
            <a class="icon-link mx-2" href="#"><img src="{% static "/images/linkedin.svg" %}"></a>       
        </div>
    </div>
  </footer>