{% load static %}


<!-- HEADER SECTION -->
<section class="header-section position-relative">
  <header class="site-header">
    <nav class="navbar navbar-expand-lg fixed">
        <div class="container">
          <a class="navbar-brand text-success" href="{% url 'home' %}">Spacefinder</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'hostel' %}">Hostels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
            <div class="mb-2">
                <a href="#" class="text-black"><i class="fa fa-bars fa-1x" aria-hidden="true"></i></a>
                <a href="#" class="text-black"><i class="fa fa-user-circle-o fa-1x" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </nav>
  </header>
</section>





