*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0;
}

a{
    text-decoration: none;
}

/* MAIN PAGE */
/* MAIN PAGE */
/* MAIN PAGE */


/* HEADER SECTION */
.header-section{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    position: relative;
    z-index: 1;
}

.background-section{
    background-image: url("/static/images/Rectangle\ 8583.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 660px;
    top: -100px;
}
.back-section{
    background-image: url("/static/images/Rectangle\ 8583.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 100px;
    top: -100px;
}

.nav-link{
    color: white;
}
.nav-link:hover{
    color: red;
}

/* FLOAT SECTION */
.float-section{
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    z-index: 2;
    top: -170px;
    margin-bottom: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: solid black 1px;
    border-radius: 20cm;
    height: 150px;
}

.find {
    margin-top: 10px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: black;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #000000;
    color: #000000;
  }
  .find:hover {
    color: #fff;
  }
  .find:hover:after {
    height: 100%;
  }
  .find:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #495057;
  }

/* HOSTEL SECTION */
.hostel-section{
    padding: 50px;
    
}
.card-img-top{
    background-image: url("/static/images/Rectangle\ 8587.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 200px;
}

/* WHY SECTION */


/* ABOUT PAGE */
/* ABOUT PAGE */
/* ABOUT PAGE */

.about-section{
    font-size: 17px;
}

.text{
    margin-top: 20px;
}

/* ACCOMODATION PAGE */
/* ACCOMODATION PAGE */
/* ACCOMODATION PAGE */



/* CONFIRM AND PAY PAGE */
/* CONFIRM AND PAY PAGE */
/* CONFIRM AND PAY PAGE */

.pay_left{
    margin-top: 20px;
}


/* CONTACT PAGE */
/* CONTACT PAGE */
/* CONTACT PAGE */
.back{
    background-image: url("/static/images/Rectangle\ 8589.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 660px;
    top: -100px;
}

.contact-section{
    font-size: 17px;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.footer-section{
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 70px;
}

.sign {
    min-width: 150px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #495057;
    color: #495057;
  }
  .sign:hover {
    color: #fff;
  }
  .sign:hover:after {
    height: 100%;
  }
  .sign:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #495057;
  }