.about-image {
    width: 100%;
    height: 25%;
    object-fit: cover; /* Preserve aspect ratio and cover the entire container */
  }

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-gap: 10px; /* Adjust gap as needed */
  }
  
.left-side, .right-side {
    padding: 20px; /* Adjust padding as needed */
    border: 1px solid #ccc; /* Optional: Add borders for separation */
  }