@media only screen and (max-width: 600px){

    .background-section{
        width: auto;
        height: 400px;
    }

    .float-section{
        background-color: rgba(255, 250, 205, 0.632);
        margin-top: -70px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
        height: fit-content;
        border-radius: 0cm;
        color: black;
    }

    .float-section .container{
        flex-direction: column;
        justify-content: space-between;
    }

    .contact{
        flex-direction: column;
    }
    .back{
        height: 100px;
    }
    .confirm{ 
        flex-direction: column;
    }
    .foot{
        flex-direction: column;
    }


    .heading, .sub-heading{
        text-align: center;
    }

    .email-back{
        background-color: white;
    }

    .flexed{
        display: flex;
        flex-direction: column-reverse;
    }

    .error{
        width: 200px;
        height: 200px;
    }

    .text{
        font-size: 20px;
    }
    .sub-text{
        font-size: 12px;
    }

    .nine-0{
        width: 150px;
        height: 150px;
    }

    body div.square{
        width: auto;
        height: auto;
      }
}
    

@media only screen and (min-width: 700px) and (max-width: 900px){
    .background-section{
        width: auto;
        height: 400px;
    }

    .contact{
        flex-direction: column;
    }

    .back{
        height: 100px;
    }
    .confirm{ 
        flex-direction: column;
    }
    .foot{
        flex-direction: column;
    }


    .main_auth{
        padding: 50px;
      }
    .heading, .sub-heading{
        text-align: center;
    }
    .email-back{
        background-color: white;
        
    }

    .flexed{
        display: flex;
        flex-direction: column-reverse;
    }

    .error{
        width: 200px;
        height: 200px;
    }

    .text{
        font-size: 20px;
    }
    .sub-text{
        font-size: 12px;
    }

    .nine-0{
        width: 150px;
        height: 150px;
    }

    body div.square{
        width: auto;
        height: auto;
      }
}

