{% extends 'main.html' %}
{% block content %}

<section class="about-section container">
    <h1>History</h1>
    <p class="text">
        Spacefinder was founded in 2022 by a group of avid students who shared a common problem of finding accommodation around campus.
         Frustrated by the limited options and lack of transparency in the hostel booking industry, they set out on a mission to
          revolutionise the way people discover and book hostels.
        <br><br><br>
        Starting as a small startup, we quickly gained momentum by partnering with hostels in various destinations, focusing on
         providing students with a one-stop platform to find affordable, comfortable, and exciting accommodations.
          Our commitment to quality and customer satisfaction helped us grow exponentially.
        <br><br><br>
        Over the years, we've evolved into a trusted and globally recognized brand, serving students from all corners of the globe.
         Our journey has been marked by innovation, dedication, and the relentless pursuit of providing students with unforgettable
          experiences.</p>
</section>

<section class="about-section container">
    <h1>Mission Statement</h1>
    <p class="text">"At Spacefinder, our mission is simple yet profound: to provide students with the best accommodations with ease,
         and affordability. We believe that every journey should be an opportunity for adventure, discovery, and personal growth.</p>
</section>

<section class="about-section container">
    <h6 class="fw-bold" style="margin-bottom: 50px;">We are commited to:</h6>
    <p class="text">
        <strong>Quality:</strong> We partner with hostels that meet the highest standards of cleanliness, safety, and comfort.
         We ensure that your stay is not just affordable but also enjoyable.
        <br><br>
        <strong>Transparency:</strong> We provide travelers with honest, unbiased reviews and ratings from fellow adventurers.
         We believe that informed choices lead to better travel experiences.
        <br><br>
        <strong>Accessibility:</strong> We make booking hostels as easy as a few clicks, with a user-friendly platform that's 
        accessible anytime, anywhere.
        <br><br>
        <strong>Community:</strong> We foster a sense of community among travelers by connecting like-minded individuals through
         shared spaces and events in our partner hostels.
        <br><br>
        <strong>Sustainability:</strong> We promote responsible and sustainable travel, encouraging travelers to make a positive 
        impact on the environment and the communities they visit.
        <br><br>
        <strong>Innovation:</strong> We continually innovate and enhance our services, leveraging technology to offer personalized
         recommendations and exclusive deals.
        <br><br><br>
        
        Our history and mission drive us to provide you with the best hostel booking experience, and we look forward to being able
         to serve you now and for years to come.</p>
</section>
{% endblock %}