{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="back-section position-relative">
</section>
<section class="container accommodation-section">
    <div class="container my-4">
        <h2>Male Hostel</h2>
            <h4>On-campus</h4>
        <div class="d-flex align-items-center justify-content-evenly my-4">
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
        </div>
        <div class="d-flex align-items-center justify-content-evenly my-4">
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
        </div>
        
    </div>
    <div class="container my-4">
            <h4>Off-campus</h4>
  
        <div class="d-flex align-items-center justify-content-evenly my-4">
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
        </div>
        <div class="d-flex align-items-center justify-content-evenly my-4">
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
        </div>
        
    </div>
    <div class="container my-5">
        <h2>Female Hostel</h2>
            <h4>On-campus</h4>
        <div class="d-flex align-items-center justify-content-evenly my-4">
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
        </div>
        <div class="d-flex align-items-center justify-content-evenly my-4">
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
        </div>
        
    </div>
    <div class="container my-4">
            <h4>Off-campus</h4>
        <div class="d-flex align-items-center justify-content-evenly my-4">
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
          <div>Shodeinde</div>
        </div>
        <div class="d-flex align-items-center justify-content-evenly my-4">
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
            <div>Shodeinde</div>
        </div>
        
    </div>
    
</section>

           
{% endblock %}