{% extends 'second_main_authentication.html' %}
{% load static %}
{% block content %}
<img src="{% static "/images/Vector.png" %}" class="vector position-absolute top-0 end-0 d-none d-lg-block">
    <div class="container square align-items-center">
        <div class="text-center">
            <img src="{% static "/images/Frame 909.svg" %}" class="nine-0">
        </div>
        <div class="email-back rounded-5 p-5">
            <h1 class="fw-lg-bold text-center">Change email address</h1>
            <p class="text-secondary text-center">Please enter your email address to get verified</p>
        <form>
            <div class="mb-3 d-grid gap-4">
                <div><label class="form-label text-start">Email</label>
                <input type="email" class="form-control" placeholder="name@example.com"></div>
                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-success" type="button">Continue</a>
                </div>
            </div>
            <p class="text-center mt-4">Already have an account? <a class="text-success text-decoration-none" href="#">Sign in</a></p>
        </form>
        </div>
        
    </div>

{% endblock %}