{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="back-section position-relative">
</section>
<section class="confirm-section">
    <div class="container"><h4>Confirm and Pay</h4></div>
    <div class="confirm d-flex justify-content-around">
        <div class="pay_left">
            <form class="container">
              <div class="mb-4">
                <select class="form-select">
                  <option>Credit or Debit</option>
                  <option>Credit</option>
                  <option>Debit</option>
                </select>
              </div>
              <div class="mb-4">
                <input type="text" class="form-control" placeholder="Card Number">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Expiration">
                  <input type="text" class="form-control" placeholder="CVV">
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label">Billing address</label>
                <input type="text" class="form-control" placeholder="Sreet Address">
                <input type="text" class="form-control" placeholder="City">
                <input type="text" class="form-control" placeholder="Phone Number">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="State">
                  <input type="text" class="form-control" placeholder="Zip code">
                </div>
              </div>
              <div class="mb-4">
                <input type="text" class="form-control" placeholder="Phone Number">
              </div>
                
                <div class="mb-4">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
              </class=>
            <hr>
            <div>
              <h5>Cancellation policy</h5>
              <p>This reseravtion is non-refundable.<a href="#">Learn more.</a></p>
            </div>  
            <hr>
        </div>
        
        <div class="pay_right">
          <div class="card container">
            <div class="card-header">
              Order Summary
            </div>
            <div class="card-body">
              <label class="form-label">Have a coupon?</label>
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="50 Sale">
                  <button class="btn btn-outline-secondary" type="button">Remove</button>
              </div>
            </div>
            <hr>
            <div class="card-body d-flex">
                  <div>
                    <img src="{% static "/images/students-in-room.jpg" %}" class="img-fluid rounded-start" style="width: 150px; height: 100px;" alt="...">
                  </div>
                  <div>
                    <h5 class="card-text">Shodeinde Hostel Room B21</h5>
                  </div>
            </div>
            <div class="card-footer text-body-secondary">
              Total
            </div>
          </div>
        </div>
    </div>
    <div class="container">
      <p>By selecting the button below, I agree to Spacefinder’s Rebooking and Refund policy, and that spacefinder can charge my payment method if I’m responsible for damage.</p>
    </div>
</section>
           
{% endblock %}