{% extends 'main.html' %}
{% block content %}

<section class="back position-relative">
</section>
<!-- CONTACT SECTION -->
<section class="contact-section">
    <div class="contact container d-flex justify-content-around">
        <div class="container">
            <h3 class="fw-bold">CONTACT US</h3>
            <p>Please fill out your details and we will be in touch shortly.</p>
        </div>
        <div class="container">
            <form>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Subject</label>
                  <input type="text" class="form-control">
                </div><div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                  <input type="text" class="form-control">
                </div><div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Phone</label>
                  <input type="text" class="form-control" minlength="11" maxlength="11">
                </div>
                <div class="mb-3">
                  <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                  <textarea class="form-control" rows="3" cols="10" placeholder="please input your message"></textarea>
                </div>
            </form>
              <div class="mb-3">
                <p>
                We will never sell your data, will keep your details secure and will never share your data with third parties for marketing purposes.
                <br><br>
                We may also process your information for legitimate reasons associated with your use or ownership of an Innoson car/motorcycle, for reasons concerning information or network security, to defend or pursue legal rights or to meet regulatory requirements. 
                <br><br>
                You can update your contact details at any time by emailing dataofficer@innosongroup.com or change your mind by clicking “unsubscribe” in any email you receive from us.
                <br><br>
                For further details on how your data is used and stored please refer to our Privacy Policy.
                </p>
              </div>
              <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" required>
                    <label class="form-check-label" for="inlineCheckbox1">I HAVE READ AND AGREED TO INNOSON GROUP PRIVACY POLICY*</label>
                </div>
              </div>
              <div class="mb-3 d-flex align-self-end ms-5">
                <a class="btn btn-success btn-lg" href="#">Submit</a>
              </div>
        </div>
    </div>
</section>
{% endblock %}