{% extends 'main_authentication.html' %}
{% load static %}
{% block content %}
<img src="{% static "/images/Vector.png" %}" class="vector position-absolute top-0 end-0 d-none d-lg-block">
<div class="register container d-flex justify-content-between align-items-start">
    <div class="container d-none d-lg-block">
        <img src="{% static "/images/Rectangle 2.png" %}" class="pt-3 pb-2" style="height: 700px;">
    </div>
    <div class="container">
        <div class="my-4">
            <h4 class="text-success">Spacefinder</h4>
        </div>
        <h1 class="fw-lg-bold py-5 heading">A code has been sent to <br class="d-none d-lg-block"> your mail</h1>
        <h5 class="text-secondary mb-5 sub-heading">Enter 6 digit code</h5>
    
        <form>
            <div class="mb-3 d-grid gap-4">
                <div class="input-group column-gap-3 px-5">
                    <input type="text" maxlength="1" class="form-control rounded-3" style="height: 50px; width: 10px;">
                    <input type="text" maxlength="1" class="form-control rounded-3">
                    <input type="text" maxlength="1" class="form-control rounded-3">
                    <span class="align-self-center">-</span>
                    <input type="text" maxlength="1" class="form-control rounded-3">
                    <input type="text" maxlength="1" class="form-control rounded-3">
                    <input type="text" maxlength="1" class="form-control rounded-3">
                  </div>
                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-success" type="button">Continue</a>
                </div>
            </div>
        </form>
        <p class="text-center mt-4">Didn't receive code?<a class="text-success text-decoration-none" href="#">Resend</a></p> 
    </div>
</div>
{% endblock %}

