{% extends 'main_authentication.html' %}
{% load static %}
{% block content %}
<img src="{% static "/images/Vector.png" %}" class="vector position-absolute top-0 end-0 d-none d-lg-block">
<div class="register container d-flex justify-content-between align-items-start">
    <div class="container d-none d-lg-block">
        <img src="{% static "/images/Rectangle 2.png" %}" class="pt-3 pb-2" style="height: 700px;">
    </div>
    <div class="container">
        <div class="my-5">
            <h4 class="text-success">Spacefinder</h4>
        </div>
        <h1 class="fw-lg-bold pt-5 heading">Forgot Password</h1>
        <h4 class="text-secondary mb-5 sub-heading">Enter your registered email below to receive <br class="d-none d-lg-block"> reset instructions.</h4>
    
        <form>
            <div>
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="d-grid gap-2 my-3">
                <a href="#" class="btn btn-success" type="button">Submit</a>
            </div>
            
        </form>
        <p class="text-center mt-4">Go back to <a class="text-success text-decoration-none" href="#">Login page</a></p>    
    </div>
</div>
{% endblock %}