{% extends 'main.html' %}


{% block content %}
<section class="background-section position-relative">
</section>
<!-- FLOAT SECTION -->
<section class="float-section">
  <form method="get" action="{% url 'hostel' %}">
    <div class="container d-flex justify-content-evenly">
        <div class="content">
            <h6 class="text-white">Location</h6>
            <select class="form-select" name="location">
              <option selected>Where do you have to stay?</option>
              <option value="on-campus">On-Campus</option>
              <option value="off-campus">Off-Campus</option>
              <!-- <option value="3">Three</option> -->
            </select>
        </div>
        <div class="content">
          <h6 class="text-white">Gender</h6>
          <select class="form-select" name="gender">
            <option selected>What is your gender?</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
      </div>
        <div class="content">
            <h6 class="text-white">Hostel</h6>
            <select class="form-select" name="hostel">
              <option selected>Which hostel do you want to stay?</option>
              <option value="mariere">Mariere</option>
              <option value="biobaku">Biobaku</option>
            </select>
        </div>
        <div class="content">
            <!-- <a href="#" role="button" class="btn btn-light find" name="q">Find a bed</a> -->
            <button type="submit" class="btn btn-light find">Find a bed</button>   
        </div>
    </div>
  </form>
</section>

<!-- WHY SECTION -->
<section class="why-section container">
  <h2>Why choose us</h2>
  <p>
    When it comes to finding the perfect hostel, you have plenty of options. So, why should you choose Spacefinder? We're passionate about providing you with the best hostel experience possible, and here are some compelling reasons why you should make us your go-to choice:
  <p>
  <ul style="list-style-type: none;">
    <li>1. Unmatched Selection:
      <ul style="list-style-type: square;"><li>We curate a diverse range of hostels in top locations around school. Whether you're on a budget or looking for a hostel just you and your friends, you'll find the perfect accommodation that suits your needs and preferences.   
      </li></ul>
    </li>
    <li>2. Best Price Guarantee:
      <ul style="list-style-type: square;"><li>We're committed to offering you the most competitive prices. Our Best Price Guarantee ensures that you won't find a lower price for the same hostel anywhere else. If you do, we'll match it or beat it!</li></ul>
    </li>
    <li>3. Trust and Reliability:
      <ul style="list-style-type: square;"><li>Spacefinder is a trusted name in the housing industry in akoka. We've earned the confidence of thousands of students who rely on us for safe and secure bookings.</li></ul>
    </li>
    <li>4. Easy Booking Process:
      <ul style="list-style-type: square;"><li>Our user-friendly website makes booking hostels a breeze. With just a few clicks, you can reserve your bed or room, saving you time and hassle.</li></ul>
    </li>
    <li> 6. Exceptional Customer Support:
      <ul style="list-style-type: square;"><li>Have questions or need assistance with your booking? Our dedicated customer support team is here to assist you 24/7. Your satisfaction is our priority.</li></ul>
    </li>
    <li>7. Exclusive Deals and Promotions:
      <ul style="list-style-type: square;"><li>Keep an eye out for our exclusive deals, discounts, and promotions. We're always working to offer you the best value for your money.</li></ul>
    </li>
    <li>8. Personalized Recommendations:
      <ul style="list-style-type: square;"><li>Our website's intelligent algorithms provide personalized recommendations based on your preferences and past bookings, ensuring you find the perfect hostel every time.
      </li></li></ul>
  </ul>  
  <p>
    Thank you for considering Spacefinder for your hostel booking needs. We're here to make your hostel experience exceptional, from the moment you start planning to the day you check out. Join our community of students and embark on unforgettable journeys with us.
    Ready to book your next adventure? <a href="{% url 'login' %}" class="text-decoration-none">Get started now!</a>
  </p>

</section>

{% endblock %}
   