{% extends 'main_authentication.html' %}
{% load static %}
{% block content %}
<img src="{% static "/images/Vector.png" %}" class="vector position-absolute top-0 end-0">
<div class="register container d-flex justify-content-between align-items-start">
    <div class="container">
        <img src="{% static "/images/Rectangle 2.png" %}" class="pt-3 pb-2" style="height: 700px;">
    </div>
    <div class="container p-5 ps-0">
        <header class="my-4">
            <h4 class="text-success">Spacefinder</h4>
        </header>
        <h1 class="fw-bold">Sign up</h1>
        <h2 class="text-secondary mb-5">Let's get you started</h2>
    
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3 d-grid gap-4">
                <div><label class="form-label">Email Address</label>
                <input type="email" class="form-control" placeholder="name@example.com"></div>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" type="submit">Continue</button>
                </div>
            </div>
            <p class="text-center mt-4">Already have an account? <a class="text-success text-decoration-none" href="{% url 'log_in' %}">Sign in</a></p>
        </form>
            <div class="or my-4"><h6 class="title text-secondary">OR</h6></div>
            <div class="d-grid gap-2">
                <a href="#" class="btn border border-secondary-subtle text-secondary" type="button"><img src="{% static "/images/google_.svg" %}" class="me-4"></i>Continue with Google</a>
                <a href="#" class="btn border border-secondary-subtle text-secondary" type="button"><img src="{% static "/images/github_.svg" %}" class="me-4">Continue with Github</a>
                <a href="#" class="btn border border-secondary-subtle text-secondary" type="button"><img src="{% static "/images/facebook (1).svg" %}" class="me-4">Continue with Facebook</a>
            </div>
        
    </div>
</div>
{% endblock %}