{% extends 'second_main_authentication.html' %}
{% load static %}
{% block content %}
<img src="{% static "/images/Vector.png" %}" class="vector position-absolute top-0 end-0">
    <div class="container align-items-center mt-5" style="width: 700px; height: auto;">
        <div class="text-center">
            <img src="{% static "/images/Frame 909 (1).svg" %}" style="width: 220px; height: 200px;">
        </div>
        <div class="rounded-5 p-5 mx-md-5"  style="width: auto; height: auto;">
            <h1 class="fw-bold text-center">Verification Complete</h1>
            <p class="text-secondary text-center">Account verification complete. You will be redirected to a login page.</p>
        </div>
        
    </div>

{% endblock %}